body {
  padding-bottom: 50px;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: whitesmoke;
}

header {
  /* margin-left: 20%; */
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 28px;
  color:#333;
  text-align: center;
  background: #333;

}

  ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #333;
    float: right;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }


#tiff {
  width: 100%;
  margin-right: 400px;
}

 h1 {
  padding: 50px;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 70%;
  margin-bottom: 0;
  font-size: 28px;
  color:black;
  /* text-align: center; */
  background-color: pink; 
  font-family: sans-serif;
} 

h2 {
  font-size: 24px;
  margin: auto;
  padding: 0px 0px 10px 0px;
  /* background-color: blanchedalmond; */
}

.container {
  width: 1024px;
  /* padding: 70px; */
  margin: 0 auto;
  /* background-color: blanchedalmond;  */
}

#main-bio{
  /* float: left; */
  padding: 100px 100px 350px 100px;
  background-color: pink;
}

#bio{
  font-family: sans-serif;
  font-size: 10;
  font-weight: bold;
}

#main-bio {
  width: 70%;
  /* padding: 0px; */
  /* float: right; */
}

#bio-image {
  width: 200px;
  height: 275px;
  margin-right: 20px;
  float: left;
  padding: 0px;
  
}

#hb{
  font-family: sans-serif;
  color: #111;
  background-color: green;
  float: left;
  padding: 0px 0px 0px 0px;
}

#p {
  padding: 0px;
  margin: 0px;
}
#con {
    float: left;
    background-color: pink;
    padding: 0px;
    color: black;

}